Omnyfy/Enquiry/etc/enquiry.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="config">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element maxOccurs="unbounded" minOccurs="0" name="enable_enquiry_module" type="enable_enquiry_moduleType"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType type="enable_enquiry_moduleType">
		<xs:sequence>
			<xs:element name="enable_enquiry" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
